



.header{
    background-color: #101923 ;
    display: flex;
    align-items: center;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 100;
    border: 10px solid #182b3a ;
}

.header--logo{
    height: 150px;
    width: 250px;
    margin: 10 20px;
    margin-top: 4px;
    object-fit: contain;
    margin-right: 20px;
}


.header--location{
    color: white;
    align-items: center;
    display: flex;
    margin-top: 7px;
}

.header--optionlocationline{
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 40px;
}

.header--search{
    display: flex;
    flex: 1;
    align-items: center;
}



.header--categories{
    width: 60px;
    height: 34px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 5px 0px 0px 5px;
    text-align-last: center;
    border: none;
    margin-left: 15px;
    background-color:#febd69 ;
    color: black;
}

.header--searchInput{
    margin-left: 1px;
    padding: 10px;
    height: 14px;
    border: none;
    width: 80%;
}

.header--searchIcon{
    background-color: #FEBD69 ;
    padding: 5.4px;
    height: 36px;
    border-radius: 0px 5px 5px 0px;
}

.header--nav{
    display: flex;
    justify-content: space-evenly;
}
.header--option{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    
   
}


.flag--option{
    width: 28px;
    height: 18px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 5px 0px px 0px;
    text-align-last: center;
    border: none;
    margin-left: 15px;
    background-color:#131921;
    padding: 8px 12px ; 
    appearance: none;
    -webkit-appearance:none;
    -moz-appearance: none;
    background:  url('https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg') repeat-x 0 0;
    padding:4px;
line-height: 9px;
border: 1px solid black;
background-size: 28px;
background-position-y: -2px;
 background-position-x: 55px;
 
}

.flag--option option{
    background-color: white;
   
}

.header--arrowIcon{
color:lightgray;
margin-top: 10px;
padding-left: 0px;
}
.header--optionLineOne{
    font-size: 13px;
}

.header--optionLineTwo{
    font-size: 13px;
    font-weight: 700;
}

.header--optionBasket{
    color: white;
    align-items:center ;
    display: flex;
    
}

.header--basketCount{
    margin-left: 10px;
    margin-right: 10px;

}