.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login--logo{
    margin-top: 20px;
    margin-bottom: -25px;
    object-fit: contain;
    height: 223px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}


.login--container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    padding: 20px;
    color: whitesmoke;
}

.login--container h1{
    font-weight: 500;
    margin-bottom: 20px;
    color: white;

}

.login--container h5{
    margin-bottom: 5px;

}

.login--container input{
    height: 30px;
    margin-bottom: 10px;
    width: 98%;
    background-color: white;
}

.login--signin{
    background-color: #f0c14b;
  
    width: 100%;
    height: 30px;
   
    margin-top: 10px;
    border-color: #a88734;
}

.login--create{
    width: 100%;
    height: 30px;
   
    margin-top: 10px;
    border-color: #a88734;
    background-color: #f0c14b;
}